<div class="card" [class.card--active]="job.featured">
  <div class="card__info">
    <div class="card__image-wrapper">
      <img
        [src]="'../../../assets/images/' + job.logo"
        [alt]="job.company"
        class="card__image"
      />
    </div>
    <div class="card__description">
      <div class="card__company-wrapper">
        <p class="card__company">{{ job.company }}</p>
        <div class="card__tag" *ngIf="job.new">New!</div>
        <div class="card__tag card__tag--dark" *ngIf="job.featured">
          Featured
        </div>
      </div>
      <a href="#" class="card__position"> {{ job.position }} </a>
      <div class="card__detail">
        <p>{{ job.postedAt }}</p>
        <p>{{ job.contract }}</p>
        <p>{{ job.location }}</p>
      </div>
    </div>
  </div>
  <div class="card__filter-wrapper">
    <button type="button" class="card__filter" (click)="addFilter(job.role)">
      {{ job.role }}
    </button>
    <button type="button" class="card__filter" (click)="addFilter(job.level)">
      {{ job.level }}
    </button>
    <button
      *ngFor="let language of job.languages"
      type="button"
      class="card__filter"
      (click)="addFilter(language)"
    >
      {{ language }}
    </button>
    <button
      *ngFor="let tool of job.tools"
      type="button"
      class="card__filter"
      (click)="addFilter(tool)"
    >
      {{ tool }}
    </button>
  </div>
</div>
