@use 'src/assets/styles' as *;

.card {
  position: relative;
  width: 100%;
  min-height: rem(100);
  background-color: $color-white;

  border-radius: rem(5);
  box-shadow: 0 12px 12px -5px rgba($color-cyan-400, 0.3);

  padding: 1.5rem 1.25rem;
  margin-bottom: rem(56);

  display: flex;
  flex-direction: column;

  @include desktop-sm {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    padding: 2rem;
  }

  &--active {
    border-left: rem(6) solid $color-cyan-400;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 1rem;

    margin-top: 1rem;

    @include desktop-sm {
      margin-top: 0;
    }
  }

  &__image {
    &-wrapper {
      position: absolute;
      top: 0;

      width: rem(50);
      height: rem(50);

      @include desktop-sm {
        position: initial;

        width: rem(80);
        height: rem(80);
      }
    }

    width: 100%;
    transform: translateY(-50%);

    @include desktop-sm {
      transform: none;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }

  &__company {
    &-wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: rem(12);
    }

    font-weight: 700;
    color: $color-cyan-400;
  }

  &__position {
    font-weight: 700;
    color: $color-cyan-900;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      color: $color-cyan-400;
    }
  }

  &__detail {
    display: flex;
    gap: 1rem;

    font-size: rem(12);
    color: $color-cyan-800;
  }

  &__tag {
    color: $color-white;
    font-size: rem(9);
    font-weight: 700;
    text-transform: uppercase;
    padding: rem(8) rem(7) rem(5) rem(7);
    border-radius: rem(16);
    background: $color-cyan-400;

    &--dark {
      background: #000;
    }
  }

  &__filter {
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      border-top: 1px solid rgba($color-cyan-800, 0.6);
      margin-top: 1rem;
      padding-top: 1rem;

      @include desktop-sm {
        border: none;
        margin: 0;
        padding: 0;
      }
    }

    border: none;
    border-radius: rem(5);
    padding: rem(7);

    font-size: rem(12);
    font-weight: 700;
    color: $color-cyan-400;

    background-color: $color-cyan-200;
    transition: all 0.2s;

    &:hover {
      color: $color-cyan-200;
      background-color: $color-cyan-400;
    }
  }
}
