<header class="header">
  <div class="filter">
    <div class="filter__tags">
      <div class="filter__tag">
        <span>Frontend</span>
        <button type="button">
          <img src="../../../assets/images/icon-remove.svg" alt="remove" />
        </button>
      </div>
    </div>
    <button type="button" class="filter__clear">Clear</button>
  </div>
</header>

<main>
  <section class="job">
    <ng-container *ngFor="let job of jobs">
      <app-card [job]="job"></app-card>
    </ng-container>
  </section>
</main>
