$desktop-sm: 768px;

$color-white: #fff;

$color-cyan-100: hsl(180, 52%, 96%);
$color-cyan-200: hsl(180, 31%, 95%);
$color-cyan-400: hsl(180, 29%, 50%);
$color-cyan-800: hsl(180, 8%, 52%);
$color-cyan-900: hsl(180, 14%, 20%);
